<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Order Product Toko</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Shoestore</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="dataStore-detail">
        <h1>
            <%= dataStore.name %>
        </h1>
        <br>
        <h3>
            <%= order.orderNumber %>
        </h3>
        <p style="text-align:right; margin-right: 10%;"><a href="/seller/<%= order.id %>/status" class="detail">Change Status</a> </p>
    </div>
    
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Nama Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% order.Products.forEach((el,index)=> { %>
                    <tr>
                        <td>
                            <%= el.name %>
                        </td>
                        <td>
                            <%= el.OrderItem.quantity %>
                        </td>
                        <td>
                           <%= el.price %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>