<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Product Toko</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Shoestore</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="dataStore-detail">
        <h1>
            <%= dataStore.name %>
        </h1>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Image Product</th>
                    <th>Name Product</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach((el,index) => { %>
                    <tr>
                        <td><img src="<%= el.image %>" alt="Gambar Product"></td>
                        <td><%= el.name %></td>                        
                        <td><%= el.category %></td>
                        <td><%= formatCurrency(el.price) %></td>
                        <td>
                            <a href="/login" class="detail">Beli</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>