<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Product Toko</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Shoestore</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="dataStore-detail">
        <h1>
            <%= dataStore.name %>
        </h1>
        <br>
        <p><a href="/seller/<%= dataStore.id %>/add" class="detail">Add Product</a> </p>
        <p style="text-align:right; margin-right: 10%;"><a href="/seller/<%= dataStore.id %>/order" class="detail">List Order</a> </p>
    </div>

    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Image Product</th>
                    <th>Name Product</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach((el,index)=> { %>
                    <tr>
                        <td><img src="<%= el.image %>" alt="Gambar Product"></td>
                        <td>
                            <%= el.name %>
                        </td>
                        <td>
                            <%= el.category %>
                        </td>
                        <td>
                            <%= formatCurrency(el.price) %>
                        </td>
                        <td>
                            <%= el.stock %>
                        </td>
                        <td>
                            <a href="/seller/<%= dataStore.id %>/<%= el.id %>/delete" class="detail">delete</a>
                            <a href="/seller/<%= dataStore.id %>/<%= el.id %>/edit" class="detail">Edit</a>
                            <a href="/seller/<%= dataStore.id %>/<%= el.id %>/restock" class="detail">Restock</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>